################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Domain/obj/Debug/net6.0/Domain.assets.cache
/Domain/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/project.nuget.cache
/Domain/obj/project.assets.json
/Domain/obj/Domain.csproj.nuget.dgspec.json
/PaisAPI/obj/Debug/net6.0/PaisAPI.GeneratedMSBuildEditorConfig.editorconfig
/PaisAPI/obj/Debug/net6.0/PaisAPI.csproj.AssemblyReference.cache
/PaisAPI/obj/Debug/net6.0/PaisAPI.assets.cache
/PaisAPI/obj/project.nuget.cache
/PaisAPI/obj/project.assets.json
/PaisAPI/obj/PaisAPI.csproj.nuget.dgspec.json
/PaisMVC/obj/Debug/net6.0/PaisMVC.GeneratedMSBuildEditorConfig.editorconfig
/PaisMVC/obj/Debug/net6.0/PaisMVC.csproj.AssemblyReference.cache
/PaisMVC/obj/Debug/net6.0/PaisMVC.assets.cache
/PaisMVC/obj/project.nuget.cache
/PaisMVC/obj/project.assets.json
/PaisMVC/obj/PaisMVC.csproj.nuget.dgspec.json
/.vs/infnet_bl6_dswcf_at/v17/.suo
/.vs/infnet_bl6_dswcf_at/v17/.wsuo
/.vs/infnet_bl6_dswcf_at/FileContentIndex/f6c403a1-6ce7-4338-ab5c-f9944211a816.vsidx
/.vs/infnet_bl6_dswcf_at/FileContentIndex/c0225d27-8484-40ae-a816-010e77bee2f5.vsidx
/.vs/infnet_bl6_dswcf_at/FileContentIndex/ad5b548b-7f2a-4cd9-86f9-735496aefd32.vsidx
/.vs/infnet_bl6_dswcf_at/FileContentIndex/9b92b5b6-30cb-42b7-b608-abed4c883bb2.vsidx
/.vs/infnet_bl6_dswcf_at/FileContentIndex/99385807-ab1f-41bb-97fa-37793c374b63.vsidx
/.vs/infnet_bl6_dswcf_at/FileContentIndex/96bcade2-632d-4144-b4ee-b6f119a0a79d.vsidx
/.vs/infnet_bl6_dswcf_at/FileContentIndex/4e140c87-3d09-4124-a252-d4a6d8c1316b.vsidx
/.vs/infnet_bl6_dswcf_at/FileContentIndex/0e25119a-10de-4095-96c8-82e15b1ac9b3.vsidx
